.buy-cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 12px;
}

.campaign_cta {
	display: block;
	max-width: 1300px;
	width: 85%;
	margin: auto;
	margin-top: 1rem;
}

.buy-cta__image {
	margin: auto;
	margin-top: 1rem;
	width: 80%;
	max-width: 1300px;
}


.buy-cta__image_B {
	margin: auto;
	margin-top: 1rem;
	width: 80%;
	max-width: 1300px;
}

.buy-cta__content {
	margin: auto;
	margin-top: 1rem;
}

.buy-cta__button {
	display: inline-block;
	background: linear-gradient(135deg, #3cd100, #1fae00);
	font-size: 2rem;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 0.9rem 2rem;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buy-cta__button:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
	.buy-cta__image {
		width: 90%;
	}

	.buy-cta__image_B {
		width: 100%;
		max-width: 1300px;
	}

	.buy-cta__button {
		font-size: 1.5rem;
	}
}




.item-cta {
	background-color: #fcaf10;
	display: flex;
	justify-content: center;
	align-items: center;
	/* 上下に余白 */
}

.item-cta__image {
	max-width: 1300px;
	width: 100%;
	height: auto;
	display: block;
}