.header {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.header.hidden {
	transform: translateY(-100%);
}

/* コンテナ */
.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1263px;
	margin: 0 auto;
	padding: 0.5rem 1rem;
}

/* ロゴ部分 */
.header-logo img {
	max-height: 50px;
}

/* ナビゲーション (通常時の横並び) */
.header-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-nav ul li {
	margin: 0;
}

.header-nav ul li a {
	text-decoration: none;
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-left: 1px solid #ddd;
}

.header-nav ul li:first-child a {
	border-left: none;
}

/* 連絡先部分 */
.header-contact {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 0.9rem;
	color: #666;
	justify-content: center;
	text-align: center;
}

.header-contact span {
	font-size: 1.2rem;
}

header .line-button {
	background-color: #00c300;
	color: #fff;
	padding: 0.5rem 1rem !important;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bold;
	margin: 0.2rem;
}

header .call-button {
	background-color: #007bff;
	color: #fff;
	padding: 0.5rem 1rem !important;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bold;
	margin: 0.2rem;
}

header .call-button:hover {
	background-color: #006bde;
}

/* ハンバーガーメニュー */
.hamburger-menu {
	display: none;
	flex-direction: column;
	gap: 0.3rem;
	cursor: pointer;
}

.hamburger-menu span {
	width: 25px;
	height: 3px;
	background-color: #333;
}

.line-button-phone {
	display: none;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
	.header {
		padding: 0;
	}

	.header-nav {
		display: none;
		flex-direction: column;
		border-top: 1px solid #ddd;
		background-color: #fff;
		text-align: center;
	}

	.header-nav.active {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hamburger-menu {
		display: flex;
	}


	.header-contact {
		display: none;
	}

	.header-nav ul {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		padding: 1rem 0;
	}

	.header-nav ul li {
		margin: 0;
	}

	.header-nav ul li a {
		border: none;
		font-size: 0.9rem;
	}

	.header-logo {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-logo img {
		max-height: 40px;
	}

	.line-button-phone {
		display: block;
	}

	.line-button-phone a {
		color: white !important;
	}
}