.purchase-results {
	background-color: #fff;
	padding: 2rem 1rem;
	text-align: center;
}

.purchase-results .container {
	max-width: 1263px;
	margin: 0 auto;
}

.purchase-results h2 {
	font-size: 2.5rem;
	color: black;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

/* グリッド部分 */
.results-grid {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.result-item {
	display: flex;
	align-items: center;
	gap: 2rem;
	/* 画像とテキストの間隔を広げる */
	flex: 1 1 calc(50% - 1.5rem);
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 1.5rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item img {
	flex-shrink: 0;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.result-info {
	font-size: 1.2rem;
	text-align: left;
}

.result-info .category {
	display: inline-block;
	background-color: #002b80;
	color: #fff;
	font-weight: bold;
	padding: 0.3rem 0.7rem;
	margin-bottom: 0.7rem;
}

.result-info .name {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 1.4rem;
}

.result-info .price {
	color: #333;
	font-size: 1.2rem;
	font-weight: bold;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
	.reason {
		padding: 0 0.3rem;
		margin: 0 0;
	}

	.row {
		flex-wrap: wrap;
		gap: 1.5rem;
	}

	.result-item {
		flex: 1 1 calc(100% - 1.5rem);
		padding: 1rem;
	}

	.result-item img {
		width: 100px;
		height: 100px;
	}

	.reason-theme-child p {
		margin: 0.3rem 0;
		font-size: 1rem;
	}

	.reason-content>div:last-child p {
		margin: 0;
		font-size: clamp(0.56rem, 2vw, 1.3rem);
		line-height: 1.6;
		color: #333;
	}

	.result-info {
		font-size: 1rem;
	}

	.result-info .name {
		font-size: 1.2rem;
	}

	.result-info .price {
		font-size: 1rem;
	}
}