.purchase-items_title{
	margin: auto;
	width: 100%;
}

/* 基本スタイル */
.purchase-items {
	background-color: #ffc74e;
	padding: 2rem 1rem;
	text-align: center;
	padding-top: 0;
}

.purchase-items .container {
	max-width: 1100px;
	margin: 0 auto;
}

.purchase-items h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: black;
}

.purchase-items p {
	font-size: 1.5rem;
	color: #555;
	margin-bottom: 2rem;
	font-weight: bold;
}

/* 共通のグリッドスタイル */
.items-grid4,
.items-grid5 {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: grid;
	gap: 0.7rem;
}

/* items-grid4 のスタイル (2行4列) */
.items-grid4 {
	grid-template-columns: repeat(6, 1fr);
	/* 4列 */
	max-width: 1263px;
	margin-bottom: 0.7rem;
	/* items-grid5 との余白 */
}


/* アイテム共通スタイル */
.item {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.item img {
	max-width: 100%;
	height: auto;
	max-height: 120px;
	margin-bottom: 0.5rem;
	border-radius: 5px;
}

.item span {
	display: block;
	margin-top: 0.5rem;
	font-size: 0.9rem;
	color: #333;
}

/* CTA部分 */
.purchase-items .cta {
	font-size: 1.7rem;
	font-weight: bold;
	color: #333;
	margin-top: 0;
}

.cta .highlight {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.item_subtitle{
	width: 100%;
	margin-top: 20px;
}

.cta{
	width: 100%;
}

/* レスポンシブ対応: 画面幅縮小時の調整 */
@media (max-width: 768px) {
	
	.items-grid4 {
		grid-template-columns: repeat(4, 1fr);
		/* 4列 */
		margin-bottom: 0.3rem;
		/* items-grid5 との余白 */
	}
	
	.purchase-items h2 {
		font-size: 2rem;
		/* タイトル文字サイズを縮小 */
	}

	.purchase-items p {
		font-size: 0.9rem;
		/* 説明文を縮小 */
		margin-bottom: 0.6rem;
	}

	.items-grid4,
	.items-grid5 {
		gap: 0.2rem;
		/* グリッド間の隙間を縮小 */
	}

	.items-grid4 {
		margin-bottom: 0.25rem;
		/* items-grid4とitems-grid5間の余白を縮小 */
	}

	.item {
		padding: 0.3rem;
		/* 各アイテムの余白を縮小 */
	}

	.item span {
		font-size: 0.55rem;
		/* アイテム内の文字サイズを縮小 */
		margin-top: 0;
		font-weight: bold;
	}

	.purchase-items .cta {
		font-size: 1.2rem;
		font-weight: bold;
		color: #333;
	}
	
	.item_hide{
		display: none;
	}
}

.item_subtitle{
	max-width: 900px;
}